HOST_ = localhost
PORT_ = PORT/POSTGRESQL PORT
USERNAME_ = postgres
PASSWORD_ = DB_PASSWORD
DATABASE_ = DB_NAME


/*
* THESE SECRETS ARE
* JUST A RANDOM STRING 
* THOUGH YOU CAN GENERATE USING NODE 
* JUST RUN THIS COMMAND IN TERMINAL THEN COPY THE OUTPUT
& @command = node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
*/
ACCESS_TOKEN_SECRET = 6445cfa636e5ba5e2a67de4ab1b4a25d5e55037feab3343e8f473f02e2771b43f2a5b3602bf7d16363c28d8b3d884db64e0ebcd64e12e8015fcdae2464f16ee4
REFRESH_TOKEN_SECRET = b802363a2ffb8ca0a04234def148965d4fc803ebbf2118440f2238c1b044b5004e0d68ab4199e9e6f21093d3901ddf3bbd2e4cf0a4ed1e090f874baaf2d09049


MAILER_HOSTNAME = smtp.gmail.com
MAILER_USERNAME = YOUR_EMAIL
MAILER_PASSWORD = YOUR_PASSWORD